# Integrations
/integrations/keys/
/integrations/gnupg/

# Build directories
/build/
/cmake-build-*/
/.cache/

# IDEs
/.idea/
/.vs/
/.vscode/

# Backup files
*~

# OS
.DS_Store

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# pipenv
Pipfile.lock

# pyenv
.python-version
